﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Merhaba Arkadaşlar.
    Ben Recep Boyvat.19 yaşımdayım.İstanbulda yaşıyorum fakat üniversite nedeniyle zamanımın büyük kısmını 
    Sakarya'da geçirmekteyim.Skarya Üniversitesi Bilgisayar Mühendisliği 2.Sınıf Öğrencisiyim.Web sitemde sizlerle
    birlikte yaptığım projeleri geliştireceğiz.Yeni projeler ortaya koyacağız
    Takipte kalın.
    
    </p>
