﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Skarya Üniversitesi<br />
    <abbr title="Phone">P:</abbr>
    05415838395
</address>

<address>
    <strong>Iletisim:</strong>   <a href="mailto:rcpbyvt@gmail.com">rcpbyvt@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/recep.boyvat.5">Facebook Hesabım</a>
</address>