﻿
@{
    ViewBag.Title = "Icerik";
}

<h2>Icerik</h2>

<h2>Micro Drone Yapımı</h2>
<p>
Micro Drone Yapımı RCTF Build along micro drone v2 Model uçak. Yazımızı biraz ayrıntılayalım isterseniz.
     Dronemi yaptım ve uçurdum sonunda. Aşağıdaki bilgileri kaynak olarak kullanabilirsiniz. Ben kendimce bir
     airfoil seçtim ve modelimi yaptım. Modelimiz gayet güzel uçuyor tavsiye edebilirim. Uçarken videosunu çekmedim
     fakat fotoğrafını çektim. Fotoğrafını aşağıda bulabilirsiniz. Tavsiyen drone ile akrobasi yapmayın kırılıyor.
     Uçuş videolarınızı bekliyoruz.
    </p>
<img src="http://www.kucukmucit.com/wp-content/uploads/2013/11/mini_uav_make_diy.jpg" />
<h4>Ozellikler</h4>
<pre>
Micro Drone V2
Micro FPV platform designed to fly out my window.
Specs:
WS: 24″
Wing Chord: 7″
Total Legnth: 23″
Fues: Around 3×2.5
Vert Stab Height: 6″
Hor Stab Span: 10″
Hor Stab Chord: 4.5″
MAX Weight: 10oz
AirFoil: KF with 6mm depron step at 40% of chord
Motor: Anything with about 9oz of thrust.
</pre>