﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projeler</h1>
    <p>
        Projeleri daha yakından inceleyin ve bilgi sahibi olun proje sahşbşne yardımda bulunabilir veya 
        anlamadığını bilmediğiniz konularda ondan yardım alabilirsiniz.
    </p>
    <p><a href="Iceriks" class="btn btn-primary btn-lg">Detaylı Görmek İçin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Drone Yapımı</h2>
        <p>
            Micro Drone Yapımı RCTF Build along micro drone v2 Model uçak. Yazımızı biraz ayrıntılayalım isterseniz.
            Dronemi yaptım ve uçurdum sonunda. Aşağıdaki bilgileri kaynak olarak kullanabilirsiniz. Ben kendimce
            bir airfoil seçtim ve modelimi yaptım. Modelimiz gayet güzel uçuyor tavsiye edebilirim. Uçarken videosunu
            çekmedim fakat fotoğrafını çektim. Fotoğrafını aşağıda bulabilirsiniz. Tavsiyen drone ile akrobasi yapmayın
            kırılıyor. Uçuş videolarınızı bekliyoruz.
        </p>
       
        <p><a class="btn btn-default" href="Iceriks">Detaylı Görmek İçin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Raspery ile Uzaktan Kumandalı Araba</h2>
        <p>
            Android telefonlarınızla hemen hemen birçok işlemi rahatlıkla yapabilmektesiniz.Bu projemizin sonunda android kontrollü
             rc araba sahibi olacaksınız.Aşağıdaki adımları uygulayarak sizde kendinize bir araba yapabilirsiniz.Projenin amacı 
            cep telefonunuza yükleyeceğiniz program sayesinde arabanızı istediğiniz gibi bluetooth üzerinden kontrol etmektir.
            Projenin ortalama maliyeti 150 ile 200 TL arasında bu kullanacağınız arabanın kalitesine göre değişir.Örneğin bu projede
             kullandığımız araba 90 tl civarında , siz oyuncakçılardan bozuk araba satın alabilirsiniz.Örneğin araba bozuktur 
            çalışmıyordur ama motorlarında tekerleklerinde her hangi bir sorun yoktur.Zaten size elektronik kısmı lazım değil.
            Çok daha ucuza satın alabilirsiniz
        </p>
       
        <p><a class="btn btn-default" href="Iceriks">Detaylı Görmek İçin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Arduino ile Led Yakma </h2>
        <p>
            Daha önce bahsettiğimiz gibi robotik sistemler giriş/çıkış (I/O -Input/Output) sistemleridir. Robotik bir sistem
            çevreden belirli sinyaller alır bunları kendi içerisinde değerlendirir ve sonucunda da başka bir birime (eyleyiciler)
            çıkış olarak bir iş yaptırır. Butonlar da giriş elemanıdır Arduino'ya dış ortamdan veri gönderir. Bu bize basit bir
            şekilde sensör etkisi sağlayarak algoritmalarımızı geliştirmemize yardımcı olacaktır. Yapacak olduğumuz ilk uygulama
            bir buton ile bir ledi yakmak. Bu örnek bu kadar kolay görünse de bizlere ufuk açacaktır. Çünkü bu basit koşul durumu
            robotik sistemlerin temelidir.
        </p>
        
        <p><a class="btn btn-default" href="Iceriks">Detaylı Görmek İçin &raquo;</a></p>
    </div>
</div>