﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@model bosproje.Models.Uyelik

<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
      @using (Html.BeginForm("Login", "Login", FormMethod.Post))
      {

        <div class="form col">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            @Html.LabelFor(f => f.Email)
            @Html.TextBoxFor(f => f.Email, new { title = "Email adresinizi giriniz.", @Value = @ViewBag.user })
            <br />
            <br />
            @Html.LabelFor(f => f.Sifre)
            @Html.PasswordFor(f => f.Sifre, new { title = "Kullanıcı şifrenizi giriniz.", @Value = @ViewBag.password })
            <br />
            <br />
            <button type="submit" class="small fr">Giriş</button><br class="cl" />
        </div>

      }      
    </div>
    <div class="col-md-4">

    </div>
</div>

