﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ProjeniPaylas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                @using (Html.BeginForm("Login", "Home"))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary" >Giris</button>
                }

                @using (Html.BeginForm("Kayit", "Home"))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success">Kayit ol</button>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hakkımda", "About", "Home")</li>
                     <li>@Html.ActionLink("Iletisim", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Projeler", "Icerik", "Home")</li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Recep Boyvat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
