﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h6>Hocam ödev bitbucket a gönderirken silindi açılmıyor sln dosyası yok bunu son saatlerde yaptım anasayfa burası olacak yanınıza gelip durumu anlatıcam .git dosyasına dönüştü 
     </h6>
    
