﻿@model bosproje.Models.Icerik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Icerik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeAciklamasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeAciklamasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeSahibi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeSahibi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
