﻿@model IEnumerable<bosproje.Models.Icerik>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjeAciklamasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjeSahibi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeAciklamasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeSahibi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjeId })
        </td>
    </tr>
}

</table>
